circles/__pycache__/circle.cpython-38.pyc
circles/__pycache__/circle.cpython-39.pyc
circles/__pycache__/test_circle.cpython-39.pyc
__pycache__/test_file.cpython-39.pyc
__pycache__/paasword_generator.cpython-39.pyc
__pycache__/ScrabbleWordScoreGenerator.cpython-38.pyc
__pycache__/ScrabbleWordScoreGenerator.cpython-39.pyc
